.profileContainer{

.subProfileContainer{

display: flex;
justify-content: center;
flex-direction: column;
margin-top: 125px;

.profileimage{
    display: flex;
    justify-content: center;
}

.profileName{
    display: flex;
    justify-content: center;
}







}
}