.top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top:15px;
      .widgetbtn{
          height:30px;
                     color:white;
                     background-color: royalblue;
                     border: none;
                     border-radius: 5px;
      }
  }