.home{
    display: flex;
   
    .homeContainer{
        
        flex:6;
        
       .mainContainer{
         display:flex;
         flex-direction: column;
       }

        .widgets{
          display: flex;
          padding: 20px;
          gap: 20px;
        }
    }

    .chartContainer{
      display:flex;
      flex-direction: row;
      max-width: 400px;
      // margin-top: 60px;;
      // margin-left: 10px;
      // margin-bottom: 20px;
      margin: 60px 5px 20px 10px;
      .chart{
        text-align: center;
      }

    
    }
}